{%extends 'charts/base.html'%}


{%block title%}
Home
{%endblock title%}


{%block content%}
<h4 style="font-family:'Apple Chancery'; font-size: 32px;">Time: {{time}} </h4>



<div class="container-fluid">
    <div class="row" style="background-color: teal;" style="overflow-x:auto;">
        <div class="">
            <h3 class="text-dark">Stats </h3>
            <hr>

        </div>
        <div class="overflow-auto w-100 h-10 center3" style="background-color:DodgerBlue;">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>No. of ALCO Locos in Holding</th>
                        <th>No. of HHP Locos in Holding</th>
                        <th>No. of Electric Locos in Holding</th>
                        
                    </tr>
                    <tr class='danger'>
                        <td class='text-primary'><a class="nav-link"
                            style="color:rgb(236, 9, 9); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:0px;"
                            href="{% url 'holding_alco'%}">{{a}} </a></td>
                        <td class='text-primary'><a class="nav-link"
                            style="color:rgb(236, 9, 9); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:0px;"
                            href="{% url 'holding_hhp'%}">{{b}}</td>
                        <td class='text-primary'><a class="nav-link"
                            style="color:rgb(236, 9, 9); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:0px;"
                            href="{% url 'holding_electrical'%}">{{c}}</td>
                        

                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <th>No. of ALCO Loco Failures this month</th>
                        <th>No. of HHP Loco Failures this month</th>
                        <th>No. of Electric Loco Failures this month</th>
                
                    </tr>
                    <tr class='danger'>
                        <td class='text-primary'>{{i}}</td>
                        <td class='text-primary'>{{j}}</td>
                        <td class='text-primary'>{{k}}</td>
                
                
                    </tr>
                
                
                </tbody>
             
                
            </table>
        </div>
    </div>
</div>



                {%endblock content%}
                {%block afterbody%}

                {%endblock afterbody%}