{%extends 'charts/base.html'%}


{%block title%}
Home
{%endblock title%}


{%block content%}
<h4 style="font-family:'Apple Chancery'; font-size: 32px;">Time: {{time}} </h4>



<div class="container-fluid">
    <div class="row" style="background-color: teal;" style="overflow-x:auto;">
        <div class="">
            <h3 class="text-dark">Stats </h3>
            <hr>

        </div>
        <div class="overflow-auto w-100 h-10 center3" style="background-color:DodgerBlue;">
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>No. of ALCO Locos in Holding</th>
                        <th>No. of HHP Locos in Holding</th>
                        <th>No. of Electric Locos in Holding</th>
                        
                    </tr>
                    <tr class='danger'>
                        <td class='text-primary'><a class="nav-link"
                            style="color:rgb(236, 9, 9); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:0px;"
                            href="{% url 'holding_alco'%}">{{a.count}} </a></td>
                        <td class='text-primary'><a class="nav-link"
                            style="color:rgb(236, 9, 9); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:0px;"
                            href="{% url 'holding_hhp'%}">{{b.count}}</td>
                        <td class='text-primary'><a class="nav-link"
                            style="color:rgb(236, 9, 9); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:0px;"
                            href="{% url 'holding_electrical'%}">{{c.count}}</td>
                        

                    </tr>
                </thead>
                <tbody>
                
                    <tr>
                        <th>No. of ALCO Loco Online</th>
                        <th>No. of HHP Loco Online</th>
                        <th>No. of Electric Loco Online</th>
                
                    </tr>
                    <tr class='danger'>
                        <td class='text-primary'>{{i}}</td>
                        <td class='text-primary'>{{j}}</td>
                        <td class='text-primary'>{{k}}</td>
                
                
                    </tr>
                
                
                </tbody>
             
                
            </table>
        </div>

        <h3 class="text-dark">Bookings </h3>
        <div class="overflow-auto table-wrapper-scroll-y w-100 h-10 my-custom-scrollbar center3" style="background-color:DodgerBlue;">
            <form method="POST" action="{%url 'BookingDateChecker'%}">
                {% csrf_token %}
                <h5>Select Date</h5>
                <input type="date" id="date1" name="From" >
                <label for="From"> From</label>
                    <input type="date" id="date2" name="To" >
                    
                    <label for="To"> To</label>
                 
                <input type="submit" value="save" style="background-color: lightcoral; color:black" />
            </form>
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Booking Date</th>
                        <th>Loco Number</th>
                        <th>Location</th>
                        <th>Schedule</th>
                        <th>Section</th>
                        <th>Booking</th>
                        <th>Material Needed</th>

                        <th>Shunting Needed</th>
                        <th>Manpower Booked </th>

                        <th>Booking Status / Completion Date </th>
                        
                    </tr>
                    {%for j1 ,g1,h1,k1 in Item%}
                    <tr class='danger'>
                        <td class='text-primary'>{{forloop.counter}} </td>
                        <td class='text-primary'>{{j1.created_date}} </td>
                        <td class='text-primary'>{{j1.RepSection.LocoNumber}} </td>
                        <td class='text-primary'>{{j1.RepSection.LocoNumber.PresentLocation}} </td>
                        <td class='text-primary'>{{j1.RepSection.LocoNumber.RepairType}}</td>
                        <td class='text-primary'>{{j1.RepSection.RepSection}}</td>
                        <td class='text-primary'>{{j1.text}} </td>
                        <td class='text-primary'>{%for q in g1 %}{{forloop.counter}} ) {{q}}:<br>Demanded on {{q.RecordCreationDate}},<br>Received on {{q.ReceiptDate}}<br>{%endfor%} </td>
                        <td class='text-primary'>{%for q in h1 %}{{forloop.counter}} ) {{q}}<br>Demanded on {{q.RecordCreationDate}},<br>Completed on {{q.CompletionDate}}<br>{%endfor%} </td>
                        <td class='text-primary'>{%for q in k1 %}{{forloop.counter}} } {{q}}<br>{%endfor%} </td>

                        <td class='text-primary'>{{j1.workComplete}}<br>{{j1.WorkEndDateTime}}</td>
                        

                    </tr>
                    {%endfor%}
                </thead>
                
                
            </table>
        </div>

        <h3 class="text-dark">Shunting </h3>
        <div class="overflow-auto w-100 h-10 center3 table-wrapper-scroll-y my-custom-scrollbar" style="background-color:DodgerBlue;">
        
            <table class="table table-bordered ">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Section</th>
                        <th>Loco Number</th>
                        <th>From</th>
                        <th>To</th>
                        <th>Demanded Since / Completed On</th>
                        <th>Completed ?</th>
                        
                        
                    </tr>
                    {%for j1 in shuntinglist%}
                    <tr class='danger'>
                        <td class='text-primary'>{{forloop.counter}} </td>
                        <td class='text-primary'>{{j1.ForJob.RepSection.RepSection}}</td>
                        <td class='text-primary'>{{j1.ForJob.RepSection.LocoNumber}} </td>
                        <td class='text-primary'>{{j1.From}} </td>
                        <td class='text-primary'>{{j1.To}}</td>
                        <td class='text-primary'>{{j1.RecordCreationDate}} / {{j1.CompletionDate}}</td>
                        <td class='text-primary'>{%if j1.ShuntingStatus is False%}
                            
                            
                            {{j1.ShuntingStatus}} <br>
                               <form method="POST" style="flex-grow: 2; background-color:rgb(246, 192, 153);" action="{%url 'ChangeShuntingCompletionStatus' j1.id%}">
                              {% csrf_token %}  
                              <input type="submit" value="Completed !"   >
                            </form>  </td>
                            {% else %}
                            Shunting Done  </td>
                            {% endif %}
                        

                    </tr>
                    {%endfor%}
                </thead>
                
                
            </table>
        </div>

    </div>
</div>



                {%endblock content%}
                {%block afterbody%}

                {%endblock afterbody%}