{%extends 'charts/base2.html'%}


{%block title%}
Home

{%endblock title%}


{%block content%}
<h4 style="font-family:'Apple Chancery'; font-size: 32px;">Charts Home {{time}}</h4>

<div class="overflow-auto w-100 h-10 center3" style="background-color:rgb(30, 144, 255);">
    <table class="table table-bordered ">
        <thead>
            <tr>
                <th><form style="background-color:rgb(30, 144, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;" method="POST" action="{%url 'dpcchart'%}">
                    
                    {% csrf_token %}
                    <input type="text" name="datepicker1" style="background-color: white; color:black" placeholder="From*" aria-label="From*" id="datepicker1">
                    <script>
                        $(function () {
                            $("#datepicker1").datepicker({
                                dateFormat: "yy-mm-dd"
                            });
                        });
                    </script>
                    <input type="text" name="datepicker2" style="background-color: white; color:black" placeholder="To*"
                        aria-label="To" id="datepicker2">
                
                    <script>
                        $(function () {
                            $("#datepicker2").datepicker({
                                dateFormat: "yy-mm-dd"
                            });
                        });
                    </script>
                    <br>
                    <input type="text" id="DPCPart" name="DPCPart" style="background-color: white; color:black" placeholder="Category"
                aria-label="Category" />
                <script>
                    $("#DPCPart").autocomplete({
                        source: '{%url 'partAutocomplete'%}'
                                    });
                </script>
                <input type="text" id="DPCDef" name="DPCDef" style="background-color: white; color:black" placeholder="Section"
                aria-label="Section" />
                <script>
                    $("#DPCDef").autocomplete({
                        source: '{%url 'defAutocomplete'%}'
                                        });
                </script>
                <br>
                    <input type="submit" value="DPC Search" style="background-color: lightcoral; color:black" />
                </form>
                    </th>
                <th><form style="background-color:rgb(30, 144, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;" method="POST" action="{%url 'tcchart'%}">
                    
                    {% csrf_token %}
                    <input type="text" name="datepicker3" style="background-color: white; color:black" placeholder="From*"
                        aria-label="From*" id="datepicker3">
                    <script>
                        $(function () {
                            $("#datepicker3").datepicker({
                                dateFormat: "yy-mm-dd"
                            });
                        });
                    </script>
                    <input type="text" name="datepicker4" style="background-color: white; color:black" placeholder="To*" aria-label="To*"
                        id="datepicker4">
                
                    <script>
                        $(function () {
                            $("#datepicker4").datepicker({
                                dateFormat: "yy-mm-dd"
                            });
                        });
                    </script>
                    <br>
                    <input type="text" id="TCPart" name="TCPart" style="background-color: white; color:black" placeholder="Category"
                aria-label="Category" />
                <script>
                    $("#TCPart").autocomplete({
                        source: '{%url 'TCpartAutocomplete'%}'
                                    });
                </script>
                <input type="text" id="TCDef" name="TCDef" style="background-color: white; color:black" placeholder="Section"
                aria-label="Section" />
                <script>
                    $("#TCDef").autocomplete({
                        source: '{%url 'TCdefAutocomplete'%}'
                                        });
                </script>
                <br>
                    <input type="submit" value="TC Search" style="background-color: lightcoral; color:black" />
                </form></th>
                <th><form
                    style="background-color:rgb(30, 144, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;"
                    method="POST" action="{%url 'mcchart'%}">
                    
                    {% csrf_token %}
                    <input type="text" name="datepicker5" style="background-color: white; color:black" placeholder="From*"
                        aria-label="From*" id="datepicker5">
                    <script>
                        $(function () {
                            $("#datepicker5").datepicker({
                                dateFormat: "yy-mm-dd"
                            });
                        });
                    </script>
                    <input type="text" name="datepicker6" style="background-color: white; color:black" placeholder="To*" aria-label="To*"
                        id="datepicker6">
                
                    <script>
                        $(function () {
                            $("#datepicker6").datepicker({
                                dateFormat: "yy-mm-dd"
                            });
                        });
                    </script>
                    <br>
                    <input type="text" id="MCPart" name="MCPart" style="background-color: white; color:black" placeholder="Category"
                aria-label="Category" />
                <script>
                    $("#MCPart").autocomplete({
                        source: '{%url 'MCpartAutocomplete'%}'
                                    });
                </script>
                <input type="text" id="MCDef" name="MCDef" style="background-color: white; color:black" placeholder="Section"
                aria-label="Section" />
                <script>
                    $("#MCDef").autocomplete({
                        source: '{%url 'MCdefAutocomplete'%}'
                                        });
                </script>
                <br>
                    <input type="submit" value="MC Search" style="background-color: lightcoral; color:black" />
                </form></th>
            </tr>
        </thead>
    </table>
</div>
<div class='center'>
    {%if RolStock%}
<h3>{{RolStock}}: Failure Cases Breakup {%if PartDisplay %}for {{PartDisplay}}{%endif%} {%if SectionDisplay %} belonging to {{SectionDisplay}} Section{%endif%} from {{from}} to {{to}}</h3>
{%endif%}
<canvas  id="myChart" width="40" height="16"></canvas>
</div>
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const myChart = new Chart(ctx, {
        type: 'bar',
        data: {
            labels: [{%for x in DPC%} '{{x}}', {%endfor%}],
            datasets: [{
                label: 'No of Cases',
                data: [{%for x in freq %} {{x}}, {% endfor %}],
                backgroundColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 2
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
</script>
{%if RolStock == 'DPC'%}
<div class="center">
    <div style="flex-grow: 8; background-color:DodgerBlue;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Rolling Stock</th>
                        <th>Category</th>
                        <th>Section</th>
                        
                        <th>Details</th>
                        <th>Status</th>
                </tr>
            </thead>
    
            <tbody>
                {%for obj in q %}
                <tr class='danger'>
                    <td class='text-primary'>{{forloop.counter}}</td>
                    <td class='text-primary'><a href="{%url 'showDPCdet' obj.pk %}" >{{obj.DPCName}}</a></td>
                    <td class='text-primary'>{{obj.DPCDefArea}}</td>
                        <td class='text-primary'>{{obj.DPCSecArea}}</td>
                        <td class='text-primary'>{{obj.DPCDef}}</td>
                        <td class='text-primary'>{{obj.DPCStatus}}</td>
                </tr>
                {%endfor%}
            </tbody>
    
        </table>
    </div>
    {%endif%}

{%if RolStock == 'TC'%}
<div class="center">
    <div style="flex-grow: 8; background-color:DodgerBlue;">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>S.No</th>
                    <th>Rolling Stock</th>
                        <th>Category</th>
                        <th>Section</th>
                        
                        <th>Details</th>
                        <th>Status</th>
                </tr>
            </thead>
    
            <tbody>
                {%for obj in q %}
                <tr class='danger'>
                    <td class='text-primary'>{{forloop.counter}}</td>
                    <td class='text-primary'><a href="{%url 'showTCdet2' obj.pk %}" >{{obj.TCName}}</a></td>
                    <td class='text-primary'>{{obj.TCDefArea}}</td>
                        <td class='text-primary'>{{obj.TCSecArea}}</td>
                        <td class='text-primary'>{{obj.TCDef}}</td>
                        <td class='text-primary'>{{obj.TCStatus}}</td>
                </tr>
                {%endfor%}
            </tbody>
    
        </table>
    </div>
    {%endif%}

    {%if RolStock == 'MC'%}
    <div class="center">
        <div style="flex-grow: 8; background-color:DodgerBlue;">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>S.No</th>
                        <th>Rolling Stock</th>
                            <th>Category</th>
                            <th>Section</th>
                            
                            <th>Details</th>
                            <th>Status</th>
                    </tr>
                </thead>
        
                <tbody>
                    {%for obj in q %}
                    <tr class='danger'>
                        <td class='text-primary'>{{forloop.counter}}</td>
                        <td class='text-primary'><a href="{%url 'showMCdet2' obj.pk %}" >{{obj.MCName}}</a></td>
                        <td class='text-primary'>{{obj.MCDefArea}}</td>
                            <td class='text-primary'>{{obj.MCSecArea}}</td>
                            <td class='text-primary'>{{obj.MCDef}}</td>
                            <td class='text-primary'>{{obj.MCStatus}}</td>
                    </tr>
                    {%endfor%}
                </tbody>
        
            </table>
        </div>
        {%endif%}
{%endblock content%}
{%block afterbody%}

{%endblock afterbody%}