<!-- #region Navbar-->


</div>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand"
    style="color:rgb(255, 255, 255); font-weight: 500; font-size: 32px; margin-right:0px; margin-top:0px;"
    href="{% url 'home'%}">DLSA</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      {% if user.is_authenticated %}
      <li class="nav-item active">
        <a class="nav-link"
          style="color:rgb(255, 255, 255); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:0px;"
          href="{% url 'home'%}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link"
          style="color:rgb(255, 255, 255); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:0px;"
          href="{% url 'stores_home'%}">TnP <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
          style="color:rgb(255, 255, 255); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:0px;"
          href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Loco 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"
            style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;"
            href="">OPR</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;"
            href="{% url 'repairhome'%}">Shed In</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item"
              style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;"
              href="{% url 'shedouthome'%}">Repair Report</a>
              <div class="dropdown-divider"></div>
            <a class="dropdown-item"
              style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;"
              href="{% url 'shedouthome'%}">Shunting</a>
          
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle"
          style="color:rgb(255, 255, 255); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:0px;"
          href="" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Personnel 
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item"
            style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;"
            href="{% url 'sectionhome'%}">Section</a>

          <div class="dropdown-divider"></div>
          <a class="dropdown-item"
            style="background-color:rgb(255, 255, 255); color:rgb(0, 0, 0); font-weight: 500; font-size: 12px; margin-right:0px; margin-top:5px;"
            href="{% url 'staffhome'%}">Staff</a>
            <div class="dropdown-divider"></div>
            
          
        </div>
      </li>

      
      {% endif %}
      

    </ul>

   

      
     
    
    <div>
      {% if user.is_authenticated %}
      <a class="nav-item nav-link navbar-right  btn-lg"
        style="background-color:Grey; color:White; font-weight: 500; font-size: 15px; margin-right:0px; margin-top:5px;"
        href="{%url 'profile'%}">{{user.username}}'s Profile</a>
      <a class="nav-item nav-link navbar-right btn-lg"
        style="background-color:Grey; color:White; font-weight: 500; font-size: 15px;  margin-right:5px; margin-top:5px;"
        href="{% url 'logout'%}">Logout</a>
      {% else %}
      <a class="nav-item nav-link navbar-right btn-lg"
        style="background-color:rgb(78, 170, 53); color:White; font-weight: 700; font-size: 15px; margin-right:0px; margin-top:5px;"
        href="{% url 'login'%}">Login</a>
      {% endif %}
    </div>
  </div>
</nav>
<!-- Navbar Right Side -->

<!-- #endregion Navbar -->
<div class='bg-transparent'>
  {% if messages %}
  {% for message in messages %}
  <div class="alert alert-success alert-{{ message.tags }}">
    {{ message }}
  </div>
  {% endfor %}
  {% endif %}
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  {% block content %}{% endblock %}
</div>